@charset "ISO-8859-1";

body {
	background-image:url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg");
}

footer {
	color:white;
	background-color: grey;
	text-align: center;
	
}