@charset "ISO-8859-1";

body {
	background-color:white;
	margin:0;
	color:#363636;
	text-indent:15px;
}

footer {
	color:white;
	background-color:#B8860B;
	text-align: center;
	padding: 10px;
	width:100%;
	font-style:italic;
	font-size:14px;
    bottom:0;
    left:0;
}

#prefooter {
	color:white;
	background-color:#363636;
    text-align: center;
	padding: 20px;
	width:100%;
	font-style: italic;
	font-size:12px;  
}
header{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuqMMk6uJ6IjxP8OFdH_XuM9GM8_Mc7p3Qdqwkb71kr4NFlml_");
}

#preheader{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuqMMk6uJ6IjxP8OFdH_XuM9GM8_Mc7p3Qdqwkb71kr4NFlml_");
	color:black;
	font-family: Serif;
	font-size:20px; 
	border-bottom: 2px solid #CDC8B1;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
}

 /* unvisited link */
a:link {
	text-decoration: none;
    color: #363636;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #B8860B;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #A9A9A9;
    text-decoration: none;
    font-size:italic;
} 

figure{
	background-color:#D3D3D3;
	text-align:center; 
	padding:10px;
	border: 1px solid #ccc;
}

figcaption{
	font-style: italic;
	margin-top: 10px;
}

Table{
    font-family: Serif;
    border-collapse: collapse;
    width: 80%;
	margin: 0 auto;
	text-align:center; 
}

td, #pecas th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
	}
	
 th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
    background-color: #363636;
    color: white;
    text-align:center; 
}

 /* unvisited link */
#linkNovo:link {
	background-color:#363636;
	text-decoration: none;
    color:white;  
 	font-weight: bold;
 	border: 1px solid #ddd;
    padding: 8px;
	margin: 0 auto;
}

/* visited link */
#linkNovo:visited {
    color: white;
    text-decoration: none;
 	font-weight: bold;
}

/* mouse over link */
#linkNovo:hover {
    color: white;
    text-decoration: none;
 	font-weight: bold;
}

/* selected link */
#linkNovo:active {
    color: #A9A9A9;
    text-decoration: none;
    font-size:italic;
} 

#preBotao{
	width: 80%;
	height: 40px;
	margin: 0 auto;
}

#novoPeca{
	float: right;
}

form{
	background-color:#363636;
	color:white;
	font-family:Serif;
	font-size:15px; 
	margin-left:500px;
    margin-right:500px;
	margin-top:50px;
	padding: 20px;
	font-weight: bold;
	height: 100%;
	margin-bottom:50px;
	border-radius:10px;
}

#pecaAdionada{
	color: #363636;
	font-weight: bold;
}

input[type=submit]{
	font-family:Serif;
	font-size:15px; 
	font-weight: bold;
	-ms-transform: scale(2); 
	-moz-transform: scale(2);
	-webkit-transform: scale(1);
	height: 25px;
	width: 100%;
}

input[type=text]{
	font-family:Serif;
	font-size:15px; 
	-ms-transform:scale(2);
	-moz-transform:scale(2);
	-webkit-transform:scale(1);
	height:20px;
	width:100%;
}

a[href="#"]{
	color: #363636;
}